* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin background {
    background-color: #f3f3f3;

}

#background {
    @include background()
}

.background {
    @include background()
}